name: CD Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fake deploy
        run: |
          echo "Pretend deploy: pulling image and running docker compose"

