name: CI pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCEKR_PASSWORD }}

      - name: build docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ci-demo:latest ./app

      = name: Push image
        run: docker push ${{secrets.DOCKER_USERNAME }}/ci-demo:latest
